@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

:root {
    font-size: 62.5%;

    --color-primary: hsl(235, 35%, 19%);
    --color-secondary: hsl(358, 78%, 69%);
    --color-font: hsl(0,0%, 100%, 0.902);

    --color-shadow: hsl(235, 36%, 35%);
}
body {
    background: var(--color-secondary);
    font-family: 'Courier Prime', monospace;
}
.stopwatch {
    width: 90%;
    max-width: 1100px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/background3.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: var(--color-font);
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1 {
    margin-top: 60px;
    font-size: 60px;
    font-weight: 300;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 50%;
}
.buttons img:nth-child(2) {
    width: 80px;
}